<%= form_for @post, :url => { :action => action_name == 'edit' ? 'update' : 'create' } do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit t(:submit_btn, :scope => [:calliope, :posts, action_name]) %>
    <%#= link_to t(:cancel_link, :scope => [:calliope, :posts, action_name]), request.referer %>
  </div>
<% end %>
