<% @posts.each do |post| %>
  <article class="post">
    <h2><%= link_to post.title, blog_post_path(current_blog.name, post) %></h2>
    
    <p class="date"><%= l(post.created_at.to_date, :format => :long) %></p>
    
    <div class="body">
      <%= simple_format post.body %>
    </div>
    
    <ul class="actions">
      <li><%= link_to t('calliope.posts.show.read_link'),
        blog_post_path(current_blog.name, post.id) %></li>
      <li class="admin"><%= link_to t('calliope.posts.show.edit_link'),
        edit_blog_post_path(current_blog.name, post.id) %></li>
    </ul>
  </article>
<% end %>

<% content_for :sidebar do %>
  <%= render "blogs/about" %>
  <%= render "latest_posts", :posts => current_blog.posts.latest.limit(5) %>
<% end %>

